:root{
    --color-background-default:#F8F3F7;
    --color-background-components:#fff;
    --color-background-hover:#F7EEF7;
    --color--hover:#C571A0;
    --color-maguent-bold: #552C8A;
    --color-border:#E9E3E8;
    

}